# Dependencias (pesan muchísimo)
node_modules/

# Variables de entorno (tienen contraseñas)
.env
.env.local
.env.production
# Archivos compilados
dist/
build/
backend/dist/
frontend/dist/

# Archivos del sistema
.DS_Store
Thumbs.db
*.log